.heading{
    background-color: orchid;
    color: pink;
    font-size: 23px;
    width: 100%;
    box-shadow: 5px  5px  5px cornflowerblue; 
    margin:0px ;
}

.heading_div{
    float: none;
    background: white;
    padding: 10px;
    border-radius: 20;
    color: hotpink;
    box-shadow: 5px 5px 5px gold;
    }

    .heading_div2
    {
        font-size: 18px;
    }

    .result_para_tag
    {
        box-shadow: 5px 5px 5px plum;
        font-size: 20px;
    }

    .copy_right_footer {
        position: fixed;
        color: violet;
        bottom: 0;
        width: 100%;
        background-color: rgb(7, 243, 243);
        line-height: 3;
        text-align: center;
    }

    canvas
    {
        border:5px solid rgb(250, 7, 47);
        border-radius:20px;
        box-shadow:5px 5px 5px chocolate;
        margin-top: 150px;
    }